  /* Image Block */
/* .ProseMirror figure[data-type='imageBlock'] {
  margin: 0;
} */

.ProseMirror figure[data-type='imageBlock'] img {
  border-radius: 0.25rem;
  display: block;
  width: 100%;
}

/* Block Quote */
.ProseMirror blockquote {
  border-left: 4px solid;
  border-left-color: #404040;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dark .ProseMirror blockquote {
  border-left-color: #d4d4d4;
}

/* Columns */
.ProseMirror [data-type='columns'] {
  display: grid;
  gap: 1rem;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.ProseMirror [data-type='columns'].layout-sidebar-left {
  grid-template-columns: 40fr 60fr;
}

.ProseMirror [data-type='columns'].layout-sidebar-right {
  grid-template-columns: 60fr 40fr;
}

.ProseMirror [data-type='columns'].layout-two-column {
  grid-template-columns: 1fr 1fr;
}

.ProseMirror [data-type='column'] {
  overflow: auto;
}