.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
  margin: 1.5rem 0;
}

.ProseMirror ul:first-child,
.ProseMirror ol:first-child {
  margin-top: 0;
}

.ProseMirror ul:last-child,
.ProseMirror ol:last-child {
  margin-bottom: 0;
}

.ProseMirror ul ul,
.ProseMirror ul ol,
.ProseMirror ol ul,
.ProseMirror ol ol,
.ProseMirror ul li,
.ProseMirror ol li {
  margin: 0.25rem 0;
}

.ProseMirror ul p,
.ProseMirror ol p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.ProseMirror > ul,
.ProseMirror > ol {
  margin: 2rem 0;
}

.ProseMirror > ul:first-child,
.ProseMirror > ol:first-child {
  margin-top: 0;
}

.ProseMirror > ul:last-child,
.ProseMirror > ol:last-child {
  margin-bottom: 0;
}

.ProseMirror ul[data-type='taskList'] {
  list-style-type: none;
  padding: 0;
}

.ProseMirror ul[data-type='taskList'] p {
  margin: 0;
}

.ProseMirror ul[data-type='taskList'] li {
  display: flex;
}

.ProseMirror ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  user-select: none;
}

.ProseMirror ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

.ProseMirror ul[data-type='taskList'] li[data-checked='true'] {
  text-decoration: line-through;
}
