/* Placeholder Styles */
.ProseMirror .is-empty::before {
  color: rgba(0, 0, 0, 0.4);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror.ProseMirror-focused > p.has-focus.is-empty::before {
  content: attr(data-placeholder);
}

.ProseMirror.ProseMirror-focused
  > [data-type='columns']
  > [data-type='column']
  > p.is-empty.has-focus::before {
  content: attr(data-placeholder);
}

/* Default Placeholder */
.ProseMirror > .is-editor-empty::before {
  content: attr(data-placeholder);
}

/* Blockquote Placeholder */
.ProseMirror
  blockquote
  .is-empty:not(.is-editor-empty):first-child:last-child::before {
  content: attr(data-placeholder);
}

.ProseMirror blockquote + figcaption.is-empty:not(.is-editor-empty)::before {
  content: attr(data-placeholder);
}

.ProseMirror h1.is-empty:not(.is-editor-empty)::before,
.ProseMirror h2.is-empty:not(.is-editor-empty)::before,
.ProseMirror h3.is-empty:not(.is-editor-empty)::before,
.ProseMirror h4.is-empty:not(.is-editor-empty)::before,
.ProseMirror h5.is-empty:not(.is-editor-empty)::before,
.ProseMirror h6.is-empty:not(.is-editor-empty)::before {
  content: attr(data-placeholder);
}

.ProseMirror [data-placeholder][data-suggestion]::before,
.ProseMirror [data-placeholder][data-suggestion] *::before {
  content: none !important;
}

/* Dark mode styles */
.dark .ProseMirror .is-empty::before {
  color: rgba(255, 255, 255, 0.4);
}
