.ProseMirror .tableWrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ProseMirror table {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 100%;
}

.ProseMirror table td,
.ProseMirror table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  padding: 0.5rem;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.ProseMirror table td:first-of-type:not(a),
.ProseMirror table th:first-of-type:not(a) {
  margin-top: 0;
}

.ProseMirror table td p,
.ProseMirror table th p {
  margin: 0;
}

.ProseMirror table td p + p,
.ProseMirror table th p + p {
  margin-top: 0.75rem;
}

.ProseMirror table th {
  font-weight: bold;
}

.ProseMirror table .column-resize-handle {
  bottom: -2px;
  display: flex;
  pointer-events: none;
  position: absolute;
  right: -0.25rem;
  top: 0;
  width: 0.5rem;
}

.ProseMirror table .column-resize-handle::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  height: 100%;
  width: 1px;
  margin-left: 0.5rem;
}

.ProseMirror table .selectedCell {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px double rgba(0, 0, 0, 0.2);
}

.dark .ProseMirror table {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table td,
.dark .ProseMirror table th {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .column-resize-handle::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .selectedCell {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .grip-column,
.dark .ProseMirror table .grip-row {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .ProseMirror table .grip-column {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .grip-column:hover,
.dark .ProseMirror table .grip-column.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .grip-column:hover::before {
  border-bottom-color: rgba(255, 255, 255, 0.6);
}

.dark .ProseMirror table .grip-column.selected {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.dark .ProseMirror table .grip-column.selected::before {
  border-bottom-color: #fff;
}

.dark .ProseMirror table .grip-row {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .grip-row:hover,
.dark .ProseMirror table .grip-row.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .ProseMirror table .grip-row:hover::before {
  border-left-color: rgba(255, 255, 255, 0.6);
}

.dark .ProseMirror table .grip-row.selected {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.dark .ProseMirror table .grip-row.selected::before {
  border-left-color: #fff;
}
