.ProseMirror p {
  line-height: 1.625;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.ProseMirror p:first-child {
  margin-top: 0;
}

.ProseMirror p:last-child {
  margin-bottom: 0;
}

.ProseMirror > p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror > p:first-child {
  margin-top: 0;
}

.ProseMirror > p:last-child {
  margin-bottom: 0;
}

.ProseMirror h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ProseMirror h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ProseMirror h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ProseMirror h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  font-weight: 700;
}

.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 0;
}

.ProseMirror h1:last-child,
.ProseMirror h2:last-child,
.ProseMirror h3:last-child,
.ProseMirror h4:last-child,
.ProseMirror h5:last-child,
.ProseMirror h6:last-child {
  margin-bottom: 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  margin-top: 3rem;
}

.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin-top: 2rem;
}

.ProseMirror a.link {
  color: #3b82f6;
  font-weight: 800;
}

.dark .ProseMirror a.link {
  color: #60a5fa;
}

.ProseMirror mark {
  background-color: #ef4444;
  border-radius: 0.125rem;
  box-decoration-break: clone;
  color: inherit;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ProseMirror img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.ProseMirror [data-type='horizontalRule'] {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.ProseMirror [data-type='horizontalRule'].ProseMirror-selectednode {
  background-color: rgba(0, 0, 0, 0.05);
}

.ProseMirror [data-type='horizontalRule'].ProseMirror-selectednode hr {
  border-top-color: rgba(0, 0, 0, 0.3);
}

.ProseMirror [data-type='horizontalRule']:hover:not(.ProseMirror-selectednode) {
  background-color: rgba(0, 0, 0, 0.05);
}

.ProseMirror [data-type='horizontalRule'] hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.8);
}

.dark .ProseMirror mark {
  background-color: #f87171;
}

.dark .ProseMirror [data-type='horizontalRule'].ProseMirror-selectednode {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .ProseMirror [data-type='horizontalRule'].ProseMirror-selectednode hr {
  border-top-color: rgba(255, 255, 255, 0.3);
}

.dark
  .ProseMirror
  [data-type='horizontalRule']:hover:not(.ProseMirror-selectednode) {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .ProseMirror [data-type='horizontalRule'] hr {
  border-top-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}
