@import './partials/animations.css';
@import './partials/blocks.css';
@import './partials/code.css';
@import './partials/lists.css';
@import './partials/placeholder.css';
@import './partials/table.css';
@import './partials/typography.css';

.ProseMirror {
  caret-color: black;
  outline: 0;
  padding-right: 2rem;
  padding-left: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 0;
}

@media (min-width: 1024px) {
  .ProseMirror {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.dark .ProseMirror {
  caret-color: white;
}

.ProseMirror > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.ProseMirror .selection {
  display: inline;
}

.ProseMirror .selection,
.ProseMirror *::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark .ProseMirror .selection,
.dark .ProseMirror *::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

.ProseMirror > .react-renderer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ProseMirror > .react-renderer:first-child {
  margin-top: 0;
}

.ProseMirror > .react-renderer:last-child {
  margin-bottom: 0;
}

.ProseMirror.resize-cursor {
  cursor: col-resize;
}

.ProseMirror .ProseMirror-gapcursor {
  position: relative;
  width: 100%;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.ProseMirror .ProseMirror-gapcursor:after {
  border-top-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: -1.5em;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.dark .ProseMirror .ProseMirror-gapcursor:after {
  border-top-color: rgba(255, 255, 255, 0.4);
}

[data-theme='slash-command'] {
  width: 1000vw;
}